<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 m12">
        <div class="icon-block">
      
          <div class="row left">
            <%= link_to "Voltar", issues_path, class:"btn-small waves-effect waves-light orange" %>
          </div>
      
          <table>
            <thead>
              <tr>
                <th>id</th>
                <th>action</th>
                <th>repository id</th>
                <th>repository name</th>
                <th>owner name</th>
                <th>created at</th>
                <th>updated at</th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <td><%= @issue.id %></td>
                <td><%= @issue.action %></td>
                <td><%= @issue.repository_id %></td>
                <td><%= @issue.repository_name %></td>
                <td><%= @issue.owner_name %></td>
                <td><%= @issue.created_at %></td>
                <td><%= @issue.updated_at %></td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    
  </div>
</div>